<div class="ui top attached segment">
    <img class="ui centered circular small image" src="/assets/main.jpg">
    <h1 class="ui header">
        <div class="content">
            포리에랜드
            <div class="sub header">
                <div class="ui mini list">
                    <div class="item">BY. 포리에 [Porier Clayfish]</div>
                    <div class="item">FROM. &lt;The Clayfish Co.&gt;, Goblin, Aether</div>
                    <div class="item">AND. &lt;찐빵&gt;, 모그리</div>
                    <div class="item">SPECIAL THANKS TO. Ludia Clayfish</div>
                </div>
            </div>
        </div>
    </h1>
</div>
<div class="ui attached message">
    <p>문의 사항이 있나요?</p>
    <p>"이런 툴이 있으면 완전 좋을 것 같아!" 하고 생각했던 반짝 반짝 빛나는 아이디어가 있나요?</p>
    <p>포리에의 <i class="twitter icon"></i>트위터는 언제나 열려있어요!</p>
    <a class="twitter-follow-button" href="https://twitter.com/_porier_" data-size="large"></a>
    <p>쪽지를 보내주시거나 멘션을 해주시면 금방 답변해드릴게요!</p>
</div>
<div class="ui attached small message">
    <p>난 트위터 계정이 없어! 혹은 난 트위터 싫어! 하시는 분들은</p>
    <p>모그리 서버 <strong>포리에</strong>에게 귓 주시거나</p>
    <p><i class="mail icon"></i> porier.clayfish@gmail.com으로 메일을 보내도 된답니다!</p>
    <p><del>이메일은 잘 체크 안해서 답변이 좀 늦을지도 몰라요...</del></p>
</div>
<div class="ui bottom attached segment">
    <div class="ui two column centered grid">
        <div class="column" style="height: 600px; overflow-y: auto;">
            <a class="twitter-moment" href="https://twitter.com/i/moments/854832113236848640" data-limit="3">포리에랜드 개발일지</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>